body {
  background-color: #333;
  margin: 0%;
  padding: 0%;
  font-family: Arial;
}

.App {
  height: 100%;
  width: 100%;
  background-color: white;
}

ul {
  list-style-type: none;
  display: flex;
}

.domino {
  background-color: transparent;
  border: transparent;
  cursor: grabbing;
  margin: 7px;
  color: black;
}

.dominoes-tile {
  display: flex;
  flex-direction: column;
}

.domino:hover {
  border: rgb(0, 8, 8);
  border-width: 3px;
}

.dominoes-tile__top,
.dominoes-tile__bottom {
  width: 50px;
  height: 50px;
  background: #eae3d3;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dominoes-tile__top:before,
.dominoes-tile__bottom:before {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background: #111;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.dominoes-tile__top {
  border-radius: 10px 10px 0 0;
}

.dominoes-tile__top:before {
  bottom: 0;
}

.dominoes-tile__bottom {
  border-radius: 0 0 10px 10px;
}

.dominoes-tile__bottom:before {
  top: 0px;
}

p {
  font-size: medium;
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

ul {
  display: flex;
  flex-wrap: wrap;
}


#about {
  margin: 5%;
  padding-bottom: 10%;
  color:rgb(75, 73, 73);
}

#emil {
  position: inherit;
  margin: 0;
  padding: 0;
  width: 200px;
  scale: 100%;
}