body {
  background-color: #333;
  margin: 0%;
  padding: 0%;
}

.App {
  height: 100%;
  width: 100%;
  background-color: white;
}

ul {
  list-style-type: none;
  display: flex;
}

.domino {
  background-color: transparent;
  border: transparent;
  cursor: grabbing;
  margin: 10px;
  color: black;
}

.dominoes-tile {
  display: flex;
  flex-direction: column;
}

.dominoes-tile__top, .dominoes-tile__bottom {
  width: 100px;
  height: 100px;
  background: #eae3d3;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dominoes-tile__top:before, .dominoes-tile__bottom:before {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background: #111;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.dominoes-tile__top {
  border-radius: 10px 10px 0 0;
}

.dominoes-tile__top:before {
  bottom: 0;
}

.dominoes-tile__bottom {
  border-radius: 0 0 10px 10px;
}

.dominoes-tile__bottom:before {
  top: 0px;
}

p {
  font-size: x-large;
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
}