.rectangle {
  width: 100%;
  height: 550px;
  background: white;
  border: 2px solid #b4e0eb;
  display: inline-block;
  border-radius: 20px;
}

.gameButtons {
  margin-top: 30px;
  margin: 20px;
  background-color: white;
  color: rgb(90, 90, 90);
  border: 2px solid #b4e0eb;
  transition-duration: 0.4s;
  border-radius: 20px;
  padding: 10px 24px;
}

.gameButtons:hover {
  background-color: #b4e0eb;
  color: black;
  cursor: pointer;
}

.levelButtonDisabled {
  margin-top: 5px;
  margin: 5px;
  background-color: white;
  color: rgb(90, 90, 90);
  border: 2px solid #adadad;
  transition-duration: 0.4s;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

.levelButtonDisabled:hover {
  background-color: #b4e0eb;
  color: rgb(0, 0, 0);
  border: 2px solid #adadad;
  transition-duration: 0.4s;
}

.levelButtonEnabled {
  margin-top: 5px;
  margin: 5px;
  background-color: rgb(143, 143, 143);
  color: rgb(59, 52, 52);
  border: 2px solid #3d3d3d;
  transition-duration: 0.4s;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

.startButton {
  margin-top: 5px;
  margin: 5px;
  background-color: rgb(23, 173, 3);
  color: rgb(0, 0, 0);
  border: 2px solid #adadad;
  transition-duration: 0.4s;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

.startButton:hover {
  background-color: #a00101;
  color: rgb(255, 255, 255);
  border: 2px solid #242323;
  transition-duration: 0.4s;
}

.stopButton {
  margin-top: 5px;
  margin: 5px;
  background-color: #a00101;
  color: rgb(255, 255, 255);
  border: 2px solid #242323;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

.stopButton:hover {
  background-color: rgb(23, 173, 3);
  color: rgb(0, 0, 0);
  border: 2px solid #adadad;
  transition-duration: 0.4s;
}
