@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

nav {
  background: #232529;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: flex-end;
  color: #edf0f1;
  align-items: center;
  height: 70px;
  padding-left: 20px;
}

.title {
  margin-right: auto;
  padding-left: 16px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: flex-center;
}

.nav__links li {
  margin-right: 30px;
  font-size: medium;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav__links li:hover {
  color: #00519d;
}

img {
  height: 40px;
  position: relative;
  border-radius: 5px;
}
