body {
  background-color: #333;
}

.App {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 23px;
  height: 23px;
  background: #111;
  border-radius: 50%;
  box-shadow: 2px 2px 10px #999 inset;
}

.dominoes-tile {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.dominoes-tile__top, .dominoes-tile__bottom {
  width: 100px;
  height: 100px;
  background: #eae3d3;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}

.dominoes-tile__top:before, .dominoes-tile__bottom:before {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background: #111;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.dominoes-tile__top {
  border-radius: 10px 10px 0 0;
}

.dominoes-tile__top:before {
  bottom: 0;
}

.dominoes-tile__bottom {
  border-radius: 0 0 10px 10px;
}

.dominoes-tile__bottom:before {
  top: 0px;
}